{% extends "base" %}

{% block content %}
<form hx-encoding='multipart/form-data' hx-post='/upload'
    _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
    <input type='file' name='image' accept='image/png' _="on change set #image-preview.src to URL.createObjectURL(my.files[0])">
    <img id='image-preview'/>
    <button>
        Resize!
    </button>
    <progress id='progress' value='0' max='100'></progress>
</form>
{% endblock content %}